.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/images/home-background.jpg");
    background-size: cover;
    height: 432px;
}

.background--large {
    background-position-y: -120px;
    flex-direction: row;
}

.button {
    padding: 64px;
}

.button.button--right {
    text-align: right;
}

.button.button--large {
    flex: 0 1 300px;
    padding: 128px;
}
