:host {
    display: block;
    box-sizing: border-box;
    width: 100%;
}
.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--primary-dark);
    padding: 32px;
    font-size: 32px;
    border-style: solid solid none solid;
    border-color: hsla(0, 100%, 100%, 0.2);
    border-width: 1px;
    border-radius: 3px 3px 0 0;
}
.card-icon {
    padding-right: 64px;
}
.card-button {
    position: relative;
    left: auto !important;
    display: block;
    background: none;
    border: none;
    width: 100%;
    padding: 8px;
    color: #fff;
    font-family: inherit;
    border-radius: 0 0 3px 3px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
}

.card-highlight,
.card-highlight {
    position: absolute;
    display: block;
    left: -32px;
    top: 0;
    width: 16px;
    height: 100%;
    background-color: #fff;
    transform: skewX(10deg);
    opacity: 0.4;

    backface-visibility: hidden;
}

:host.social-card--large {
    max-width: 280px;
}

@keyframes reflect {
    from {left: -16px}
    to {left: calc(100% + 16px)}
}

.reflect {
    animation: reflect 1s ease;
}