:host {
    display: block;
}

.title__content {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title__content.title__content--large {
    font-size: 32px;
    line-height: 56px;
}

.title__content:not(.title__content--center)::after {
    content: '';
    display: block;
    height: 8px;
    width: 32px;
    background-color: var(--primary-color);
}

.title__content.title__content--center {
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}