<app-splitter></app-splitter>
<app-section paddingVertical="48px">
    <article [classList]="(isHandset$ | async) ? 'content' : 'content content--large'">
        <div class="information" [@EnterLeave]="{value: ':enter', params : {distance: '-48px', delai: '0.3s'}}">

            <app-title class="margin-bottom">Qui suis-je ?</app-title>

            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
                <br> <br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore.
            </div>
        </div>
        <aside [@EnterLeave]="{value: ':enter', params : {distance: '48px', delai: '0.3s'}}" class="aside"><img
            class="image" src="assets/images/tim_chibi.png" alt=""></aside>

    </article>

</app-section>
