    <app-section paddingVertical="48px">
    <article [classList]="(isHandset$ | async) ? 'content' : 'content content--large'">
        <div class="information" [@EnterLeave]="{value: ':enter', params : {distance: '-48px', delai: '0.3s'}}">

            <app-title class="margin-bottom">Qui suis-je ?</app-title>

            <div class="description">Hey ! Enchanté je suis Timtoobias et bienvenue sur mon site internet  ! 
                <br><br>
                Ce que je suis est assez complexe à définir, j'aime me considérer comme entrepreneur car je touche un peu à tout que ça soit graphisme, création vidéo, redacteur, chef de projet, animateur, commentateur et surement plus en fonction d'où le merveilleux monde du Jeu Vidéo me mène ahah.
                <br><br>
                Ici, vous retrouverez un espace en constante évolution, où je peux vous proposer mes productions, mes projets en cours et communiquer avec vous. 
                <br><br>
                Bonne navigation à tous !
            </div>
        </div>
        
        <aside [@EnterLeave]="{value: ':enter', params : {distance: '48px', delai: '0.3s'}}" class="aside"><img
            class="image" src="assets/images/tim-chibi-chara.png" alt=""></aside>

    </article>
  </app-section>

    
   


