<app-splitter></app-splitter>
<app-section class="section" paddingVertical="48px">
    <div class="responsive-container" [classList]="(isHandset$ | async) ? 'flex-column-reverse' : 'flex-row'">
        <aside class="aside" [classList]="(isHandset$ | async) ? 'aside margin-top-32px' : 'aside aside--large'">
            <img [classList]="(isHandset$ | async) ? 'image' : 'image image--large'"
                 src="assets/images/partner-dofusbook.png" alt="">
            <img [classList]="(isHandset$ | async) ? 'image' : 'image image--large'" src="assets/images/partner-twitch.svg"
                 alt="">
                 <img [classList]="(isHandset$ | async) ? 'image' : 'image image--large'"
                 src="assets/images/partner-gaminggear.png" alt="">
        </aside>
        <div [classList]="(isHandset$ | async) ? 'content' : 'content content--large'">

            <app-title>Ils me font confiance</app-title>
        </div>

    </div>
    
</app-section>
